.AssignmentCard {
    display: flex;
    flex-direction: column;
    height: 46.3%;
    width: 100%;
	border-radius: 20px;
    background-color: #160d57;
    color: white;
    margin: 1em auto;
    padding-left: 5%;
    padding-right: 5%;
}

.AssignmentCard_Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20%;
    width: 100%;
    margin: 0 auto
}

.AssignmentDueDate{
    align-self: flex-end;
}

.AssignmentCard_Body{
    overflow: auto;
}

.AssignmentCard_Body > p {
    width: 100%;
}
