#classPanel {
	flex-direction: column;
	margin-right: 1em;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: min-content;
	row-gap: .5em;
	padding: .5em;
	box-sizing: border-box;
	min-height: 0;
}

#classPanel_top {
	display: grid;
	grid-template-columns: max-content auto;
	column-gap: .5em;
}

#courseGrade,
#className {
	background-color: #160d57;
	border-radius: 20px;
	padding: 1.75em 1.25em;
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
}

#courseGrade p,
#className p {
	margin-block-start: 0px;
	margin-block-end: 0px;
	text-align: center;
	font-size: 1.9em;
	font-family: stein;
	color: white;
}
#courseSummary {
	font-family: stein;
	color: white;
	background-color: #160d57;
	padding: 20px;
	height: 100%;
	border-radius: 20px;
	display: table;
}

#courseSummary h3 {
	margin: .5em 0;
}

#courseSummary p {
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin: 0;
}

@media only screen and (max-width: 600px){
	#courseSummary {
		display: none;
	}
}
