.LoginPage {
	background-color: #160d57;
	height: 100%;
	width: 100%;
	margin: 0px;
}
.LoginBody {
	background-color: #160d57;
	text-align: center;
	vertical-align: center;
	padding-top: 50px;
	height: 495px;
	width: 499px;
	margin: auto;
}
.circleImage {
	width: 510px;
	margin-bottom: -75%;
}
.LoginHeader {
	margin: 0;
	margin-top: -10px;
	padding: 0;
	color: white;
	vertical-align: center;
	font-size: 550%;
	font-family: albas;
}
#loginForm {
	margin-top: -50px;
	justify-content: center;
	display: inline-block;
}
.loginLabel {
	z-index: 1;
	display: inline-block;
	text-align: end;
	width: 5em;
	position: relative;
	margin-top: 5px;
	font-size: 1.5em;
}
.textbox {
	font-size: 1.2em;
	border-radius: 7px;
	border-color: transparent;
	z-index: 1;
	position: relative;
	margin-top: 5px;
	margin-left: 10px;
	width: 10em;
}
#submit {
	font-size: 1.1em;
	border-radius: 7px;
	border-color: transparent;
	margin-top: 15px;
	width: 7em;
}
