@font-face {
  font-family: albaS;
  src: url(fonts/ALBAS___.TTF);
}
@font-face {
  font-family: alba;
  src: url(fonts/ALBA____.TTF);
}
@font-face {
  font-family: stein;
  src: url(fonts/Literal_Reg.otf);
}
@font-face {
  font-family: steinB;
  src: url(fonts/Literal_Bold.otf);
}
/*Flex*/
body,
.mainInline,
.classButtons,
.display{
  display: flex;
}
html {
  background-color: #160d57;
  background-image: url("images/background.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
  margin: 0px;
}
.smallLogo {
  display: none;
  width: 25px;
  position: absolute;
  bottom: 7px;
  right: 7px;
}
body {
  flex-direction: column;
  background-color: #3b4d8f;
  min-width: 92%;
  max-width: 95%;
  min-height: 92%;
  max-height: 95%;
  margin: 30px;
  border-radius: 30px;
}
.mainInline {
  width: 100%;
  clear: both;
  flex-direction: row;
}
h1 {
  font-family: alba;
  font-size: 37px;
  text-align: center;
  color: white;
  width: 35%;
  padding-left: 40px;
}
.classButtons {
  justify-content: flex-end;
  min-width: auto;
  max-width: 65%;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 25px;
}
.classButtons button {
  cursor: pointer;
  font-family: steinB;
  color: white;
  font-size: 16px;
  background-color: #e84a35;
  border-radius: 20px;
  margin-left: 5px;
  min-width: 30%;
  max-width: auto;
  height: 32px;
}
.classButtons button.active {
  background-color: #ed8734;
}
.display {
  background-color: white;
  position: static;
  width: auto;
  height: auto;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: -10px;
  flex: 1 1 auto;
  border: 3px solid #160d57;
}
#classDiv{
  float:left;
  flex-direction:column;
  margin-bottom: auto;
  margin-top: auto;
  width: 60%;
}
#assignmentDiv{
  float: right;
  width: 30%;
}
#grade{
  font-size: 30px;
  font-family: stein;
  color: white;
  background-color: #160d57;
  height: 20%;
  border-radius: 20px;
  width: fit-content;
  padding-right: 10px;
  padding-left: 10px;
}
#classInfo{
  font-family: stein;
  color: white;
  background-color: #160d57;
  padding: 20px;
  width: 50%;
  height: 60%;
  border-radius: 20px;
  margin-bottom: -12px;
}
#classInfo h3{
  margin-top: 5px;
  margin-bottom: 25px;
}
#classInfo p{
  overflow: auto;
  height: 250px;
  padding-right: 5px;
}
#assignment{
  font-family: stein;
  color: white;
  background-color: #160d57;
  padding: 20px;
  border-radius: 20px;
}